
[submodule "Engine/Libs/glfw"]
	path = Engine/Libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Libs/assimp"]
	path = Engine/Libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Editor/Libs/imgui"]
	path = Editor/Libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Libs/logger"]
	path = Libs/logger
	url = https://github.com/ZeBaananaa/LuminousLogger.git
[submodule "Libs/luminousmaths"]
	path = Libs/luminousmaths
	url = https://gitlabstudents.isartintra.com/e.ruhlmann/enginemaths.git
